@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 7.5px;
  background-color: #505f98;
}
*::-webkit-scrollbar-thumb {
  background-color: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 5px;
}
:root {
  --color: #111b47;
  --color2: #6f7cb2;
  --color3: #091133;
  --color4: #37447e;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 66px;
  color: var(--color4);
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: var(--color2);
  text-align: justify;
}
a {
  text-decoration: none;
  color: var(--color2);
}
img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

form {
  max-width: 100%0;
  margin: 25px 0;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 12px;
  outline: none;
  border: 2.5px solid var(--color);
  box-shadow: none;
  border-radius: 12px;
}
hr {
  width: 100%;
  border: 0;
  border-top: 1.25px solid var(--color);
}

.container {
  width: 70%;
  margin: auto;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 5px 30px;
  margin-top: 25px;
  margin-right: 15px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  line-height: 26px;
  border-radius: 5px;
  border: none;
  transition: background 0.75s;
  background: var(--color);
}

.btn:hover {
  background: var(--color4);
}

#header {
  height: 85vh;
  background: url(../img/header.png) no-repeat center right;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.header-content {
  max-width: 400px;
  margin-top: 150px;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: var(--color2);
  z-index: 1;
  overflow: hidden;
  transition: 1.25s;
}

#sideNav ul li {
  margin: 35px;
}

#sideNav ul li:first-child {
  margin-top: 50px;
}

#sideNav ul li a {
  color: white;
  font-size: 18px;
}

#menuBtn {
  color: var(--color3);
  position: fixed;
  right: 50px;
  top: 35px;
  z-index: 1;
  cursor: pointer;
}

#about-us {
  padding: 75px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-left {
  flex-basis: 50%;
}

.about-right {
  flex-basis: 50%;
}

#product {
  padding: 50px 0;
}

.product-now {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}

.product-col {
  flex-basis: 33%;
  text-align: center;
}

.product-col img {
  width: 275px;
}

.product-col p {
  padding: 10px;
}

#phone,
#contact {
  padding: 75px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#phone img {
  align-items: left;
}

.phone-left .contact-left {
  flex-basis: 50%;
}

.phone-right .contact-right {
  flex-basis: 50%;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box .btn {
  margin: 20px 0;
}

#footer {
  margin: 30px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footer-left {
  flex-basis: 70%;
}

.footer-right {
  flex-basis: 30%;
  margin-top: 50px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.link-title h4 {
  margin-bottom: 10px;
  color: var(--color);
}

.copyright img {
  display: flex;
  width: 200px;
  margin: 40px 0;
}

.copyright small,
.link-title small {
  display: block;
  font-size: 14px;
  color: var(--color);
  line-height: 1.75px;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
    line-height: normal;
  }
  .btn {
    padding: 5px 7.5px;
    font-size: 12.5px;
  }

  .container {
    margin: 0px 45px;
  }

  #header {
    height: 75vh;
    background: none;
  }

  .logo {
    background: none;
  }

  .about-left,
  .about-right {
    flex-basis: 100%;
  }

  .footer-left,
  .footer-right {
    flex-basis: 100%;
  }
}
